
<footer class="main-footer">
    <strong>Copyright &copy; 2014-<span id="yearCont"></span> <a href="https://adminlte.io">JRCar Bazar</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 3.2.0
    </div>
</footer>
<script>
    document.getElementById("yearCont").innerHTML = (new Date().getFullYear());
</script>