@model JRCar.BOL.tblManfacturerCarModel

<style>
/*    #CheckBOxModels {
        max-height: 155px !important;
    }

        #CheckBOxModels li {
            padding: 0px !important;
        }

        #CheckBOxModels::-webkit-scrollbar {
            width: 6px;
            height: 80px;
        }

        #CheckBOxModels::-webkit-scrollbar-track {
            border-radius: 10px;
            background-color: #e9e9e9;
        }

        #CheckBOxModels::-webkit-scrollbar-thumb {
            background-color: #c6c6c6;
            border-radius: 10px;
        }

            #CheckBOxModels::-webkit-scrollbar-thumb:hover {
                background: #D00000;
                border-radius: 10px;
            }*/
</style>

@if (ViewBag.carModelsChk != null)
{
    @*<ul class="cs-checkbox-list mCustomScrollbar" id="CheckBOxModels" data-mcs-theme="dark" style="overflow: auto;">*@
    foreach (var item in ViewBag.carModelsChk)
    {
        <li style="padding: 0px !important;">
            <input type="checkbox" id="ModelListChkBox_@item.Value" name="ModelListChkBox" value="@item.Value" class="chkModelclass" style="margin: 0 !important;" />
            <label for="ModelListChkBox_@item.Value" id="LblModelListChkBox_@item.Value" style="margin: 0 !important; font-size: 12px !important; padding-left: 20px;">@item.Text</label>
        </li>
    }
    @*</ul>*@
}

<script>

    $('.chkModelclass').click(function () {
        PostModel();
    });

    function PostModel() {
        var ModelNameListVal = null;
        ModelNameListVal = [];

        $("input[name='ModelListChkBox']:checked").each(function () {
            ModelNameListVal.push($(this).attr('value'));
        });

        var condi = $("input[name = 'ConditionRR']:checked").val();
        if (ModelNameListVal.length > 0) {
            $("#divLoader").show();
            var SortBy = $("#SortByVehicle").find(':selected').val();
            var search = $('#searchTerm_TxtBox').val();
            var priceRange = $("#price").val();
            var makeId = $("input[name = 'MakeRR']:checked").val();
            console.log(priceRange);
            var myArr = priceRange.split`,`.map(x => +x);
            var minimum = myArr[0];
            var maximum = myArr[1];
            var startYear = $("#StartYear").find(':selected').val();
            var endYear = $("#EndYear").find(':selected').val();
            var maxYear = (endYear >= startYear) ? endYear : startYear;
            var miniYear = (endYear <= startYear) ? endYear : startYear;
            var ColorNameListVal = null;
            ColorNameListVal = [];

            $("input[name='ColorListChkBox']:checked").each(function () {
                ColorNameListVal.push($(this).attr('value'));
            });
            var TransNameListVal = null;
            TransNameListVal = [];

            $("input[name='TransListChkBox']:checked").each(function () {
                TransNameListVal.push($(this).attr('value'));
            });

            $.ajax({
                type: "post",
                url: "/Website/GetAds",
                data: { searchTerm: search, sortBy: SortBy, MakeId: makeId, ModelId: ModelNameListVal, maximumPrice: maximum, minimumPrice: minimum, Condition: condi, StartYear: miniYear, EndYear: maxYear, ColorSelected: ColorNameListVal, TransSelected: TransNameListVal },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    $("#divLoader").hide();
                    $("#VehicleAdsLst").html(data);
                }
            });
        }
        else {
            var makeId = $("input[name = 'MakeRR']:checked").val();
            $("#divLoader").show();
            var SortBy = $("#SortByVehicle").find(':selected').val();
            var search = $('#searchTerm_TxtBox').val();
            var priceRange = $("#price").val();
            console.log(priceRange);
            var myArr = priceRange.split`,`.map(x => +x);
            var minimum = myArr[0];
            var maximum = myArr[1];
            var condi = $("input[name = 'ConditionRR']:checked").val();
            var startYear = $("#StartYear").find(':selected').val();
            var endYear = $("#EndYear").find(':selected').val();
            var maxYear = (endYear >= startYear) ? endYear : startYear;
            var miniYear = (endYear <= startYear) ? endYear : startYear;
            var ColorNameListVal = null;
            ColorNameListVal = [];

            $("input[name='ColorListChkBox']:checked").each(function () {
                ColorNameListVal.push($(this).attr('value'));
            });
            var TransNameListVal = null;
            TransNameListVal = [];

            $("input[name='TransListChkBox']:checked").each(function () {
                TransNameListVal.push($(this).attr('value'));
            });

            $.ajax({
                type: "post",
                url: "/Website/GetAds",
                data: { searchTerm: search, sortBy: SortBy, MakeId: makeId, maximumPrice: maximum, minimumPrice: minimum, Condition: condi, StartYear: miniYear, EndYear: maxYear, ColorSelected: ColorNameListVal, TransSelected: TransNameListVal },
                datatype: "json",
                traditional: true,
                success: function (response) {
                    $("#divLoader").hide();
                    $("#VehicleAdsLst").html(response);
                }
            });
        }
    }

</script>