@model JRCar.BOL.tblZone
<option value="0" selected="selected" disabled="disabled" class="selectoption">--- Select Zone ---</option>
@if (ViewBag.Zone != null)
{
    foreach (var item in ViewBag.Zone)
    {
        <option value="@item.Value">@item.Text</option>
    }
}