@model JRCar.BOL.tblCity
<option value="0" selected="selected" disabled="disabled" class="selectoption">--- Select City ---</option>
@if (ViewBag.City != null)
{
    foreach (var item in ViewBag.City)
    {
        <option value="@item.Value">@item.Text</option>
    }
}